<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="HotelMapper">
	
	
	<select id="selectHotel" parameterType="int" resultType="HotelDTO">
		select * from hotel where hotelnum = #{_parameter}
	</select>
	
	
	<select id="selectHotelByRoomNum" resultType="com.backrooms.dto.HotelDTO" parameterType="int">
	    SELECT H.*
	    FROM HOTEL H
	    JOIN ROOM R ON H.hotelNum = R.hotelNum
	    WHERE R.roomNum = #{roomNum}
	</select>
	
</mapper>