<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ImageMapper">
	<select id="getImageCountByList" parameterType="ImageRequestDTO" resultType="int">
		SELECT
			imageCount
		FROM image
		WHERE imageKind = #{ kind } 
			and imageUse IN
			<foreach collection="useList" item="item" open="(" separator="," close=")">
				#{ item }
			</foreach>
		ORDER BY imageUse ASC
	</select>

	<select id="insertImage" parameterType="ImageInsertDTO" resultType="ImageDTO">

	insert into image
	(imageNum, imageKind, imageUse, imageUploadFileName, imageStoreFileName, imageCount)
	values
	    (image_seq.nextval, #{imageKind}, #{imageUse}, #{imageUploadFileName}, #{imageStoreFileName}, 1)

	</select>


	<select id="selectStoreFileName" parameterType="ImageFileQueryDTO" resultType="string">
		select  imagestorefilename
		from image
		where imageUse = #{imageUse} AND imageKind = ${imageKind}
	</select>
	
	<select id="selectImageFileNames" parameterType="ImageFileQueryDTO" resultType="ImageFileNamesDTO">
		select imageuploadfilename, imagestorefilename
		from image
		where imageUse = #{imageUse} AND imageKind = ${imageKind}
	</select>
	
</mapper>