<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="QnaMapper">

	<insert id="insert" parameterType="QnaDTO">
  <selectKey resultType="int" keyProperty="qnaNum" order="BEFORE">
    SELECT qna_seq.NEXTVAL FROM dual
  </selectKey>
  INSERT INTO qna (
    QnaNum, memberNum, QnADate, QnATitle, QnAText, QnAState, QnAreply
  ) VALUES (
    #{qnaNum}, #{memberNum}, SYSDATE, #{qnaTitle}, #{qnaText}, 0, NULL
  )
</insert>
	
	
	<select id="list" resultType="QnaDTO">
	SELECT
		q.qnaNum,
		to_char(q.qnADate, 'YYYY-MM-DD') qnaDate,
		q.qnaTitle,
		q.qnAText,
		q.qnAState,
		q.qnAreply,
		m.memberNum,
		m.memberName
	from qna q
	join member m
	on q.memberNum = m.memberNum
	WHERE q.qnAState = 0
	Order by 
    q.qnaDate Desc,
    q.qnaNum Desc 
	<!--  정렬 순위를 1. 상태가 높은것(9 > 0), 2.(상태가 같을때)최근 날짜순으로 3.(날짜가 같을때는) 최근에 만들어진것 순(시퀀스값인 eventNum이 높은순)으로서 가져옵니다 -->
	</select>

	<select id="selectAllQnAsTotalCount" resultType="int">
		SELECT count(*)
		from qna
		where qnaState = 0
	</select>

	
	<select id="selectPendingQNAs" resultType="QnaDTO">
	SELECT
		q.qnaNum,
		to_char(q.qnADate, 'YYYY-MM-DD') qnaDate,
		q.qnaTitle,
		q.qnAText,
		q.qnAState,
		q.qnAreply,
		m.memberNum,
		m.memberName
	from qna q
	join member m
	on q.memberNum = m.memberNum
	WHERE q.qnAState = 0
	and q.qnAreply is null
	Order by 
    q.qnaDate Desc,
    q.qnaNum Desc 
	<!--  정렬 순위를 1. 상태가 높은것(9 > 0), 2.(상태가 같을때)최근 날짜순으로 3.(날짜가 같을때는) 최근에 만들어진것 순(시퀀스값인 eventNum이 높은순)으로서 가져옵니다 -->
    
	</select>
	<select id="selectPendingQNAsTotalCount" resultType="int">
		SELECT count(*)
		from qna
		where qnAState = 0
			and qnAreply is null
	</select>
	<select id="selectCompletedQNAs" resultType="QnaDTO">
	SELECT
		q.qnaNum,
		to_char(q.qnADate, 'YYYY-MM-DD') qnaDate,
		q.qnaTitle,
		q.qnAText,
		q.qnAState,
		q.qnAreply,
		m.memberNum,
		m.memberName
	from qna q
	join member m
	on q.memberNum = m.memberNum
	WHERE q.qnAState = 0
	and q.qnAreply is not null
	Order by 
    q.qnaDate Desc,
    q.qnaNum Desc 
	<!--  정렬 순위를 1. 상태가 높은것(9 > 0), 2.(상태가 같을때)최근 날짜순으로 3.(날짜가 같을때는) 최근에 만들어진것 순(시퀀스값인 eventNum이 높은순)으로서 가져옵니다 -->
    
	</select>

<!--	service -->
	<select id="selectAllServices" resultType="QnaDTO">
		SELECT
		q.qnaNum,
		to_char(q.qnADate, 'YYYY-MM-DD') qnaDate,
		q.qnaTitle,
		q.qnAText,
		q.qnAState,
		q.qnAreply,
		m.memberNum,
		m.memberName
		from qna q
		join member m
		on q.memberNum = m.memberNum
		where q.qnAState = 0
		and q.qnaTitle = '서비스 문의'
		Order by
		q.qnaDate Desc,
		q.qnaNum Desc
		<!--  정렬 순위를 1. 상태가 높은것(9 > 0), 2.(상태가 같을때)최근 날짜순으로 3.(날짜가 같을때는) 최근에 만들어진것 순(시퀀스값인 eventNum이 높은순)으로서 가져옵니다 -->
	</select>

	<select id="selectAllServicesTotalCount" resultType="int">
		SELECT count(*)
		from qna
		where qnaState = 0
		and   qnaTitle = '서비스 문의'
	</select>


	<select id="selectPendingService" resultType="QnaDTO">
		SELECT
		q.qnaNum,
		to_char(q.qnADate, 'YYYY-MM-DD') qnaDate,
		q.qnaTitle,
		q.qnAText,
		q.qnAState,
		q.qnAreply,
		m.memberNum,
		m.memberName
		from qna q
		join member m
		on q.memberNum = m.memberNum
		where q.qnAState = 0
		and q.qnaTitle = '서비스 문의'
		and q.qnAreply is null
		Order by
		q.qnaDate Desc,
		q.qnaNum Desc
		<!--  정렬 순위를 1. 상태가 높은것(9 > 0), 2.(상태가 같을때)최근 날짜순으로 3.(날짜가 같을때는) 최근에 만들어진것 순(시퀀스값인 eventNum이 높은순)으로서 가져옵니다 -->

	</select>
	<select id="selectPendingServicesTotalCount" resultType="int">
		SELECT count(*)
		from qna
		where qnAState = 0
		and   qnaTitle = '서비스 문의'
		and qnAreply is null
	</select>
	<select id="selectCompletedServices" resultType="QnaDTO">
		SELECT
		q.qnaNum,
		to_char(q.qnADate, 'YYYY-MM-DD') qnaDate,
		q.qnaTitle,
		q.qnAText,
		q.qnAState,
		q.qnAreply,
		m.memberNum,
		m.memberName
		from qna q
		join member m
		on q.memberNum = m.memberNum
		WHERE q.qnAState = 0
		and q.qnaTitle = '서비스 문의'
		and q.qnAreply is not null
		Order by
		q.qnaDate Desc,
		q.qnaNum Desc
		<!--  정렬 순위를 1. 상태가 높은것(9 > 0), 2.(상태가 같을때)최근 날짜순으로 3.(날짜가 같을때는) 최근에 만들어진것 순(시퀀스값인 eventNum이 높은순)으로서 가져옵니다 -->

	</select>

	<select id="selectCompletedServicesTotalCount" resultType="int">
		SELECT count(*)
		from qna
		where qnAState = 0
		and qnaTitle = '서비스 문의'
		and qnAreply is null
	</select>

<!--	room -->
	<select id="selectAllRooms" resultType="QnaDTO">
		SELECT
		q.qnaNum,
		to_char(q.qnADate, 'YYYY-MM-DD') qnaDate,
		q.qnaTitle,
		q.qnAText,
		q.qnAState,
		q.qnAreply,
		m.memberNum,
		m.memberName
		from qna q
		join member m
		on q.memberNum = m.memberNum
		where q.qnAState = 0
		and q.qnaTitle = '객실 문의'
		Order by
		q.qnaDate Desc,
		q.qnaNum Desc
		<!--  정렬 순위를 1. 상태가 높은것(9 > 0), 2.(상태가 같을때)최근 날짜순으로 3.(날짜가 같을때는) 최근에 만들어진것 순(시퀀스값인 eventNum이 높은순)으로서 가져옵니다 -->
	</select>

	<select id="selectAllRoomsTotalCount" resultType="int">
		SELECT count(*)
		from qna
		where qnaState = 0
			and   qnaTitle = '객실 문의'
	</select>


	<select id="selectPendingRooms" resultType="QnaDTO">
		SELECT
		q.qnaNum,
		to_char(q.qnADate, 'YYYY-MM-DD') qnaDate,
		q.qnaTitle,
		q.qnAText,
		q.qnAState,
		q.qnAreply,
		m.memberNum,
		m.memberName
		from qna q
		join member m
		on q.memberNum = m.memberNum
		where q.qnAState = 0
		and q.qnaTitle = '객실 문의'
		and q.qnAreply is null
		Order by
		q.qnaDate Desc,
		q.qnaNum Desc
		<!--  정렬 순위를 1. 상태가 높은것(9 > 0), 2.(상태가 같을때)최근 날짜순으로 3.(날짜가 같을때는) 최근에 만들어진것 순(시퀀스값인 eventNum이 높은순)으로서 가져옵니다 -->

	</select>
	<select id="selectPendingRoomsTotalCount" resultType="int">
		SELECT count(*)
		from qna
		where qnAState = 0
			and   qnaTitle = '객실 문의'
			and qnAreply is null
	</select>
	<select id="selectCompletedRooms" resultType="QnaDTO">
		SELECT
		q.qnaNum,
		to_char(q.qnADate, 'YYYY-MM-DD') qnaDate,
		q.qnaTitle,
		q.qnAText,
		q.qnAState,
		q.qnAreply,
		m.memberNum,
		m.memberName
		from qna q
		join member m
		on q.memberNum = m.memberNum
		WHERE q.qnAState = 0
		and q.qnaTitle = '객실 문의'
		and q.qnAreply is not null
		Order by
		q.qnaDate Desc,
		q.qnaNum Desc
		<!--  정렬 순위를 1. 상태가 높은것(9 > 0), 2.(상태가 같을때)최근 날짜순으로 3.(날짜가 같을때는) 최근에 만들어진것 순(시퀀스값인 eventNum이 높은순)으로서 가져옵니다 -->

	</select>

	<select id="selectCompletedRoomsTotalCount" resultType="int">
		SELECT count(*)
		from qna
		where qnAState = 0
			and   qnaTitle = '객실 문의'
			and qnAreply is not null
	</select>


	<!--payment -->

	<select id="selectAllPayment" resultType="QnaDTO">
		SELECT
		q.qnaNum,
		to_char(q.qnADate, 'YYYY-MM-DD') qnaDate,
		q.qnaTitle,
		q.qnAText,
		q.qnAState,
		q.qnAreply,
		m.memberNum,
		m.memberName
		from qna q
		join member m
		on q.memberNum = m.memberNum
		where q.qnAState = 0
		and q.qnaTitle = '객실 문의'
		Order by
		q.qnaDate Desc,
		q.qnaNum Desc
		<!--  정렬 순위를 1. 상태가 높은것(9 > 0), 2.(상태가 같을때)최근 날짜순으로 3.(날짜가 같을때는) 최근에 만들어진것 순(시퀀스값인 eventNum이 높은순)으로서 가져옵니다 -->
	</select>

	<select id="selectAllPaymentTotalCount" resultType="int">
		SELECT count(*)
		from qna
		where qnaState = 0
			and   qnaTitle = '객실 문의'
	</select>


	<select id="selectPendingPayment" resultType="QnaDTO">
		SELECT
		q.qnaNum,
		to_char(q.qnADate, 'YYYY-MM-DD') qnaDate,
		q.qnaTitle,
		q.qnAText,
		q.qnAState,
		q.qnAreply,
		m.memberNum,
		m.memberName
		from qna q
		join member m
		on q.memberNum = m.memberNum
		where q.qnAState = 0
		and q.qnaTitle = '객실 문의'
		and q.qnAreply is null
		Order by
		q.qnaDate Desc,
		q.qnaNum Desc
		<!--  정렬 순위를 1. 상태가 높은것(9 > 0), 2.(상태가 같을때)최근 날짜순으로 3.(날짜가 같을때는) 최근에 만들어진것 순(시퀀스값인 eventNum이 높은순)으로서 가져옵니다 -->

	</select>
	<select id="selectPendingPaymentTotalCount" resultType="int">
		SELECT count(*)
		from qna
		where qnAState = 0
			and   qnaTitle = '객실 문의'
			and qnAreply is null
	</select>
	<select id="selectCompletedPayment" resultType="QnaDTO">
		SELECT
		q.qnaNum,
		to_char(q.qnADate, 'YYYY-MM-DD') qnaDate,
		q.qnaTitle,
		q.qnAText,
		q.qnAState,
		q.qnAreply,
		m.memberNum,
		m.memberName
		from qna q
		join member m
		on q.memberNum = m.memberNum
		WHERE q.qnAState = 0
		and q.qnaTitle = '객실 문의'
		and q.qnAreply is not null
		Order by
		q.qnaDate Desc,
		q.qnaNum Desc
		<!--  정렬 순위를 1. 상태가 높은것(9 > 0), 2.(상태가 같을때)최근 날짜순으로 3.(날짜가 같을때는) 최근에 만들어진것 순(시퀀스값인 eventNum이 높은순)으로서 가져옵니다 -->

	</select>

	<select id="selectCompletedPaymentTotalCount" resultType="int">
		SELECT count(*)
		from qna
		where qnAState = 0
			and   qnaTitle = '객실 문의'
			and qnAreply is not null
	</select>

<!--	retund-->
	<select id="selectAllRefund" resultType="QnaDTO">
		SELECT
		q.qnaNum,
		to_char(q.qnADate, 'YYYY-MM-DD') qnaDate,
		q.qnaTitle,
		q.qnAText,
		q.qnAState,
		q.qnAreply,
		m.memberNum,
		m.memberName
		from qna q
		join member m
		on q.memberNum = m.memberNum
		where q.qnAState = 0
		and q.qnaTitle = '취소 및 환불 문의'
		Order by
		q.qnaDate Desc,
		q.qnaNum Desc
		<!--  정렬 순위를 1. 상태가 높은것(9 > 0), 2.(상태가 같을때)최근 날짜순으로 3.(날짜가 같을때는) 최근에 만들어진것 순(시퀀스값인 eventNum이 높은순)으로서 가져옵니다 -->
	</select>

	<select id="selectAllRefundTotalCount" resultType="int">
		SELECT count(*)
		from qna
		where qnaState = 0
			and   qnaTitle = '취소 및 환불 문의'
	</select>


	<select id="selectPendingRefund" resultType="QnaDTO">
		SELECT
		q.qnaNum,
		to_char(q.qnADate, 'YYYY-MM-DD') qnaDate,
		q.qnaTitle,
		q.qnAText,
		q.qnAState,
		q.qnAreply,
		m.memberNum,
		m.memberName
		from qna q
		join member m
		on q.memberNum = m.memberNum
		where q.qnAState = 0
		and q.qnaTitle = '취소 및 환불 문의'
		and q.qnAreply is null
		Order by
		q.qnaDate Desc,
		q.qnaNum Desc
		<!--  정렬 순위를 1. 상태가 높은것(9 > 0), 2.(상태가 같을때)최근 날짜순으로 3.(날짜가 같을때는) 최근에 만들어진것 순(시퀀스값인 eventNum이 높은순)으로서 가져옵니다 -->

	</select>
	<select id="selectPendingRefundTotalCount" resultType="int">
		SELECT count(*)
		from qna
		where qnAState = 0
			and   qnaTitle = '취소 및 환불 문의'
			and qnAreply is null
	</select>
	<select id="selectCompletedRefund" resultType="QnaDTO">
		SELECT
		q.qnaNum,
		to_char(q.qnADate, 'YYYY-MM-DD') qnaDate,
		q.qnaTitle,
		q.qnAText,
		q.qnAState,
		q.qnAreply,
		m.memberNum,
		m.memberName
		from qna q
		join member m
		on q.memberNum = m.memberNum
		WHERE q.qnAState = 0
		and q.qnaTitle = '취소 및 환불 문의'
		and q.qnAreply is not null
		Order by
		q.qnaDate Desc,
		q.qnaNum Desc
		<!--  정렬 순위를 1. 상태가 높은것(9 > 0), 2.(상태가 같을때)최근 날짜순으로 3.(날짜가 같을때는) 최근에 만들어진것 순(시퀀스값인 eventNum이 높은순)으로서 가져옵니다 -->

	</select>

	<select id="selectCompletedRefundTotalCount" resultType="int">
		SELECT count(*)
		from qna
		where qnAState = 0
			and   qnaTitle = '취소 및 환불 문의'
			and qnAreply is not null
	</select>



	<!--	reservation-->

	<select id="selectAllReservations" resultType="QnaDTO">
		SELECT
		q.qnaNum,
		to_char(q.qnADate, 'YYYY-MM-DD') qnaDate,
		q.qnaTitle,
		q.qnAText,
		q.qnAState,
		q.qnAreply,
		m.memberNum,
		m.memberName
		from qna q
		join member m
		on q.memberNum = m.memberNum
		where q.qnAState = 0
		and q.qnaTitle = '예약 문의'
		Order by
		q.qnaDate Desc,
		q.qnaNum Desc
		<!--  정렬 순위를 1. 상태가 높은것(9 > 0), 2.(상태가 같을때)최근 날짜순으로 3.(날짜가 같을때는) 최근에 만들어진것 순(시퀀스값인 eventNum이 높은순)으로서 가져옵니다 -->
	</select>

	<select id="selectAllReservationsTotalCount" resultType="int">
		SELECT count(*)
		from qna
		where qnaState = 0
			and   qnaTitle = '예약 문의'
	</select>


	<select id="selectPendingReservations" resultType="QnaDTO">
		SELECT
		q.qnaNum,
		to_char(q.qnADate, 'YYYY-MM-DD') qnaDate,
		q.qnaTitle,
		q.qnAText,
		q.qnAState,
		q.qnAreply,
		m.memberNum,
		m.memberName
		from qna q
		join member m
		on q.memberNum = m.memberNum
		where q.qnAState = 0
		and q.qnaTitle = '예약 문의'
		and q.qnAreply is null
		Order by
		q.qnaDate Desc,
		q.qnaNum Desc
		<!--  정렬 순위를 1. 상태가 높은것(9 > 0), 2.(상태가 같을때)최근 날짜순으로 3.(날짜가 같을때는) 최근에 만들어진것 순(시퀀스값인 eventNum이 높은순)으로서 가져옵니다 -->

	</select>
	<select id="selectPendingReservationsTotalCount" resultType="int">
		SELECT count(*)
		from qna
		where qnAState = 0
			and   qnaTitle = '예약 문의'
			and qnAreply is null
	</select>
	<select id="selectCompletedReservations" resultType="QnaDTO">
		SELECT
		q.qnaNum,
		to_char(q.qnADate, 'YYYY-MM-DD') qnaDate,
		q.qnaTitle,
		q.qnAText,
		q.qnAState,
		q.qnAreply,
		m.memberNum,
		m.memberName
		from qna q
		join member m
		on q.memberNum = m.memberNum
		WHERE q.qnAState = 0
		and q.qnaTitle = '예약 문의'
		and q.qnAreply is not null
		Order by
		q.qnaDate Desc,
		q.qnaNum Desc
		<!--  정렬 순위를 1. 상태가 높은것(9 > 0), 2.(상태가 같을때)최근 날짜순으로 3.(날짜가 같을때는) 최근에 만들어진것 순(시퀀스값인 eventNum이 높은순)으로서 가져옵니다 -->

	</select>

	<select id="selectCompletedReservationsTotalCount" resultType="int">
		SELECT count(*)
		from qna
		where qnAState = 0
			and   qnaTitle = '예약 문의'
			and qnAreply is not null
	</select>



<!--	etc -->
	<select id="selectAllEtc" resultType="QnaDTO">
		SELECT
		q.qnaNum,
		to_char(q.qnADate, 'YYYY-MM-DD') qnaDate,
		q.qnaTitle,
		q.qnAText,
		q.qnAState,
		q.qnAreply,
		m.memberNum,
		m.memberName
		from qna q
		join member m
		on q.memberNum = m.memberNum
		where q.qnAState = 0
		and q.qnaTitle = '기타 문의'
		Order by
		q.qnaDate Desc,
		q.qnaNum Desc
		<!--  정렬 순위를 1. 상태가 높은것(9 > 0), 2.(상태가 같을때)최근 날짜순으로 3.(날짜가 같을때는) 최근에 만들어진것 순(시퀀스값인 eventNum이 높은순)으로서 가져옵니다 -->
	</select>

	<select id="selectAllEtcTotalCount" resultType="int">
		SELECT count(*)
		from qna
		where qnaState = 0
			and   qnaTitle = '기타 문의'
	</select>


	<select id="selectPendingEtc" resultType="QnaDTO">
		SELECT
		q.qnaNum,
		to_char(q.qnADate, 'YYYY-MM-DD') qnaDate,
		q.qnaTitle,
		q.qnAText,
		q.qnAState,
		q.qnAreply,
		m.memberNum,
		m.memberName
		from qna q
		join member m
		on q.memberNum = m.memberNum
		where q.qnAState = 0
		and q.qnaTitle = '기타 문의'
		and q.qnAreply is null
		Order by
		q.qnaDate Desc,
		q.qnaNum Desc
		<!--  정렬 순위를 1. 상태가 높은것(9 > 0), 2.(상태가 같을때)최근 날짜순으로 3.(날짜가 같을때는) 최근에 만들어진것 순(시퀀스값인 eventNum이 높은순)으로서 가져옵니다 -->

	</select>
	<select id="selectPendingEtcTotalCount" resultType="int">
		SELECT count(*)
		from qna
		where qnAState = 0
			and   qnaTitle = '기타 문의'
			and qnAreply is null
	</select>
	<select id="selectCompletedEtc" resultType="QnaDTO">
		SELECT
		q.qnaNum,
		to_char(q.qnADate, 'YYYY-MM-DD') qnaDate,
		q.qnaTitle,
		q.qnAText,
		q.qnAState,
		q.qnAreply,
		m.memberNum,
		m.memberName
		from qna q
		join member m
		on q.memberNum = m.memberNum
		WHERE q.qnAState = 0
		and q.qnaTitle = '기타 문의'
		and q.qnAreply is not null
		Order by
		q.qnaDate Desc,
		q.qnaNum Desc
		<!--  정렬 순위를 1. 상태가 높은것(9 > 0), 2.(상태가 같을때)최근 날짜순으로 3.(날짜가 같을때는) 최근에 만들어진것 순(시퀀스값인 eventNum이 높은순)으로서 가져옵니다 -->

	</select>

	<select id="selectCompletedEtcTotalCount" resultType="int">
		SELECT count(*)
		from qna
		where qnAState = 0
			and   qnaTitle = '기타 문의'
			and qnAreply is not null
	</select>

<!--	-->

	
	<select id="detail" resultType="QnaDTO">
	
	SELECT
		q.qnaNum,
		to_char(q.qnADate, 'YYYY-MM-DD') qnaDate,
		q.qnaTitle,
		q.qnAText,
		q.qnAState,
		q.qnAreply,
		m.memberNum,
		m.memberName
	from qna q
	join member m
	on q.memberNum = m.memberNum
    where qnaNum = #{qnaNum}
	</select>
	
	<select id="Mylist" resultType="QnaDTO">
	SELECT
		q.qnaNum,
		to_char(q.qnADate, 'YYYY-MM-DD') qnaDate,
		q.qnaTitle,
		q.qnAText,
		q.qnAState,
		q.qnAreply,
		m.memberNum,
		m.memberName
	from qna q
	join member m
	on q.memberNum = m.memberNum
	where q.memberNum = #{memberNum} AND q.qnastate = 0
	Order by 
    q.qnaDate Desc,
    q.qnaNum Desc 
	</select>
	
	<update id="delete" parameterType="list">
        UPDATE qna
        SET qnaState = 1  <!-- 삭제 상태로 설정 -->
        WHERE qnaNum IN 
        <foreach collection="list" item="qnaNum" open="(" separator="," close=")">
            #{qnaNum}
        </foreach>
    </update>
    
    <update id="update" parameterType="QnaDTO">
        UPDATE qna
        SET qnaReply = #{qnaReply}  <!-- 답변 수정 -->
       where qnaNum = #{qnaNum}
    </update>
    
    
  
	
</mapper>