<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ReservationMapper">

  <insert id="insertReservation" parameterType="ReservationDTO" useGeneratedKeys="false">
    <selectKey keyProperty="reservationNum" resultType="int" order="BEFORE">
      SELECT reservation_seq.NEXTVAL FROM dual
    </selectKey>

    INSERT INTO reservation (
      reservationNum,
      memberNum,
      roomNum,
      checkIn,
      checkOut,
      reservationState,
      reservationBreakfast
    ) VALUES (
      #{reservationNum},
      #{memberNum},
      #{roomNum},
      #{checkIn},
      #{checkOut},
      #{reservationState},
      #{reservationBreakfast}
    )
  </insert>
  
 <insert id="insertReservationAndGetId" parameterType="ReservationDTO" useGeneratedKeys="false">
    <selectKey keyProperty="reservationNum" resultType="int" order="AFTER">
        SELECT reservation_seq.CURRVAL FROM dual
    </selectKey>

    INSERT INTO reservation (
        reservationNum, memberNum, roomNum, checkIn, checkOut, reservationState, reservationBreakfast
    ) VALUES (
        reservation_seq.NEXTVAL, #{memberNum}, #{roomNum}, #{checkIn}, #{checkOut}, #{reservationState}, #{reservationBreakfast}
    )
</insert>
	<select id="selectReservationById" parameterType="int" resultType="com.backrooms.dto.ReservationDTO">
    SELECT * FROM reservation WHERE reservationNum = #{reservationNum}
	</select>

</mapper>
